/*==============================
GLOBAL STYLES
===============================*/

* { 
/*  outline: 1px solid black;*/
  font-family: arial,sans-serif;
  font-size: 13px;
}

*, *:before, *:after {
   -moz-box-sizing: border-box; 
   -webkit-box-sizing: border-box; 
   box-sizing: border-box;
 }

 textarea, input, button { 
 	outline: none; 
 }

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
.wrapper {
	min-height:100%;
	position:relative;
	margin: 0;
	padding-top: 15px;
}


/*==============================
TOP NAV
===============================*/

 .top_nav {
 	width: 100%;
 	min-width: 1000px;
 	padding: 0 20px;
 	position: relative;
 }

 .top_nav ul {
	padding: 0;
	margin: 0;
	text-align: right;
 }

 .top_nav li {
	display: inline-block;
	list-style: none;
	vertical-align: middle;
	margin: 0 9px 0 9px;
	line-height: 11px;
 }

 .top_nav li a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.9);
	padding-top: 0px;
	display: block;
 }

 .icon_sqaures {
 	background: url('../images/google_sqaures.jpg') no-repeat center;
 	background-size: 100%;
 	height: 16px;
 	width: 16px;
 	opacity: 0.5;
 	display: inline-block;
 	vertical-align: middle;
 }

 .sign_in{
 	width: 71px;
 	height: 30px;
 	text-align: center;
 	font-weight: bold;
 	color: white;
 	padding: 8px 0;
background-image: -ms-linear-gradient(top, #378DFC 0%, #4683EA 100%);
background-image: -moz-linear-gradient(top, #378DFC 0%, #4683EA 100%);
background-image: -o-linear-gradient(top, #378DFC 0%, #4683EA 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #378DFC), color-stop(1, #4683EA));
background-image: -webkit-linear-gradient(top, #378DFC 0%, #4683EA 100%);
background-image: linear-gradient(to bottom, #378DFC 0%, #4683EA 100%);
 	border: 1px solid #378DFC;
 	border-radius: 2px;
 	cursor: default;

 }


.top_nav ul li:nth-child(1):hover,
.top_nav ul li:nth-child(2):hover,
.top_nav ul li:nth-child(3):hover {
	border-bottom: 1px solid black;
}

 .top_nav ul li:nth-child(4):hover a {
	opacity: 1;
 	cursor: default;
 }

  .top_nav ul li:nth-child(5) a {
 	color: white;
 	cursor: default;
 }

   .sign_in:active {
	background: #3d79e1;
	border-top: 1px solid #3267c1;
	padding-top: px;
}


/*==============================
GOOGLE LOGO & SEARCH BAR
===============================*/


 .main_container {
 	width: 100%;
 	min-width: 1000px; 
 	text-align: center;
 	display: block;
	padding: 145px 0 150px 0;
 }

 .logo {
 	display: inline-block;
 	width: 280px;
 	height: 103px;
 	background: url('../images/google_logo.png') no-repeat center;
 	background-size: 100%;
 }

 .search_bar {
	border: 0.13em solid rgba(0, 0, 0, 0.12);
	width: 570px;
	height: 32px;
	margin: 23px auto 22px auto;
	text-align: left;
 }


 .search_bar input {
 	border: none;
 	display: inline-block;
	width: 568px;
	height: 30px;
	padding-left: 10px;
	padding-right: 28px;
	line-height: 18px;
	background: url('../images/google_mic.png');
	background-repeat: no-repeat;
	background-position: 98.8% 45%;
	background-size: 14px;

 }

  .search_bar input:focus {
	border: 1px solid #378DFC;
	padding-left: 9px;
	width: 569px; 

 }

 .search_bar a:hover {
	opacity: 1;
 }

.go_buttons {
	padding: 0;
	margin: 0;
}

.go_buttons li {
	list-style: none;
	display: inline-block;
	margin: 0 7px 0 7px;
}

.go_buttons li div{
	letter-spacing: 0.001em;
	border: 0.13em solid rgba(0, 0, 0, 0.13);
	background-color: rgba(0, 0, 0, 0.04);
	border-radius: 2px;

}

.go_buttons li div a {
	display: block;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
	padding: 7px 8px;
	font-size: 0.85em;
	font-weight: bold;
	font-family: Arial;
	letter-spacing: 0em;
	text-shadow: 0.04em 0px 0px rgba(0, 0, 0, 0.6);
}

.go_buttons li div:hover{
	border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}




/*==============================
BOTTOM NAV
===============================*/



 .bottom_nav {
	width:100%;
	min-width: 1000px;
	padding: 0 23px;
	position:absolute;
	bottom:0;
	left:0;
	right: 0;
 	background-color: rgba(0, 0, 0, 0.04);
 	border-top: 0.13em solid rgba(0, 0, 0, 0.06);
 }

 .bottom_nav_left,
 .bottom_nav_right {
 	padding: 0;
 	margin: 0;
 }

 .bottom_nav_left {
	float: left;
	display: inline-block;
 	vertical-align: middle;
 }

 .bottom_nav_right {
	float: right;
	display: inline-block;
	vertical-align: middle
 }


 .bottom_nav_left li,
 .bottom_nav_right li {
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	margin: 13px 10px;

 }

  .bottom_nav_left a,
 .bottom_nav_right a {
	text-decoration: none;
	display: inline-block;
	color: #666;
	padding: 0px;
	line-height: 13px;
	text-shadow: 0.01em 0px 0px rgba(0, 0, 0, 0.1);
	
}

  .bottom_nav_left a:hover,
 .bottom_nav_right a:hover  {
 	border-bottom: 1px solid black;
 }


.clear::after {
  content: "";
  display: table;
  clear: both;
}







